<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>main.html</title>
    <head th:include="comm::header"> 
  </head> 
  <style>
  	.aa{
		width: 100px;
		height: 28px;
  	}
  </style>
<body>
<div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">演示</a>
        <a>
          <cite>导航元素</cite></a>
      </span>
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">
      <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so">
          <input class="layui-input" placeholder="单位编号" name="cno" id="cno">
          <input class="layui-input" placeholder="单位名称" name="cname" id="cname">
          
          <a class="layui-btn" id="search" onclick="searchUser()" ><i class="layui-icon">&#xe615;</i></a>
        </form>
      </div>
    
	<table class="layui-hide" id="test" lay-filter="test"></table>
</div>

<!--查看详情模态框-->
<div id="details" style="display: none;">
    <div class="x-body">
    
        <form class="layui-form layui-col-md12 x-so" lay-filter="boardFilter">
        	<div class="layui-input-inline">
        		<div class="layui-form-item">
		              <label for="username" class="layui-form-label">公司账号</label>
		              <input type="hidden" name="cid"/>
		              <input type="hidden" name="acid"/>
		              <div class="layui-input-inline">
		                  <input type="text" name="cno" autocomplete="off" 
		                  class="layui-input "  readonly/>
		              </div>
          		</div>
          		<div class="layui-form-item">
		              <label for="username" class="layui-form-label">单位名称</label>
		              <div class="layui-input-inline">
		                  <input type="text" name="cname" autocomplete="off" 
		                  class="layui-input " readonly />
		              </div>
          		</div>
          		<div class="layui-form-item">
		              <label for="username" class="layui-form-label">缴至年月</label>  <!--  ？？？ -->
		              <div class="layui-input-inline">
		                  <input type="text" name="date" autocomplete="off" 
		                  class="layui-input" readonly />
		              </div>
          		</div>
          		<div class="layui-form-item">
		              <label for="username" class="layui-form-label">记账日期</label> 	<!--  ？？？ -->
		              <div class="layui-input-inline">
		                  <input type="text" name="time" autocomplete="off" 
		                  class="layui-input" readonly />
		              </div>
          		</div>
          		
        	</div>
        	
          	<div class="layui-input-inline">         
	        	
				<div class="layui-form-item">
		              <label for="username" class="layui-form-label">本次汇缴额</label>  <!--  ？？？ -->
		              <div class="layui-input-inline">
		                  <input type="text" name="sum" autocomplete="off" 
		                  class="layui-input" readonly />
		              </div>
          		</div>
          		<!-- <div class="layui-form-item">
		              <label for="username" class="layui-form-label">实收金额</label>		 ？？？
		              <div class="layui-input-inline">
		                  <input type="text" name="sum" autocomplete="off" 
		                  class="layui-input" readonly />
		              </div>
          		</div> -->
          		<div class="layui-form-item">
		              <label for="username" class="layui-form-label">缴存方式</label>  <!--  ？？？ -->
		              <div class="layui-input-inline">
		                  <input type="text" name="remits" autocomplete="off" 
		                  class="layui-input" readonly />
		              </div>
          		</div>
          		<!-- <div class="layui-form-item">
		              <label for="username" class="layui-form-label">汇缴年月</label>    ？？？
		              <div class="layui-input-inline">
		                  <input type="text" name="time" autocomplete="off" 
		                  class="layui-input" readonly />
		              </div>
          		</div> -->
          		<div class="layui-form-item">
		              <label for="username" class="layui-form-label">制单人</label>	<!--  ？？？ -->
		              <div class="layui-input-inline">
		                  <input type="text" name="" autocomplete="off" 
		                  class="layui-input" readonly />
		              </div>
          		</div>
          		<div class="layui-form-item">
		              <label for="username" class="layui-form-label">账户状态</label> <!--  ？？？ -->
		              <div class="layui-input-inline">
		                  <input type="text" name="sname" autocomplete="off" 
		                  class="layui-input" readonly />
		              </div>
          		</div>
          	</div>
          
          	<div class="layui-input-inline">         
	        	<div class="layui-form-item">
		              <label for="username" class="layui-form-label">缴存人数</label>  <!--  ？？？ -->
		              <div class="layui-input-inline">
		                  <input type="text" name="renshu" autocomplete="off" 
		                  class="layui-input" readonly />
		              </div>
          		</div>
          		<!-- <div class="layui-form-item">
		              <label for="username" class="layui-form-label">总缴存基数</label>   ？？？
		              <div class="layui-input-inline">
		                  <input type="text" name="bases" autocomplete="off" 
		                  class="layui-input" readonly />
		              </div>
          		</div> -->
          		<div class="layui-form-item">
		              <label for="username" class="layui-form-label">单位缴存额</label>  <!--  ？？？ -->
		              <div class="layui-input-inline">
		                  <input type="text" name="sums" autocomplete="off" 
		                  class="layui-input" readonly />
		              </div>
          		</div> 
          		<div class="layui-form-item">
		              <label for="username" class="layui-form-label">个人缴存额</label>
		              <div class="layui-input-inline">
		                  <input type="text" name="sumss" autocomplete="off" 
		                  class="layui-input" readonly />
		              </div>
          		</div>
          		<div class="layui-form-item">
		              <label for="username" class="layui-form-label">月缴存合计</label>
		              <div class="layui-input-inline">
		                  <input type="text" name="sum" autocomplete="off" 
		                  class="layui-input" readonly />
		              </div>
          		</div>
          		
          	</div>
          	
         	<div class="layui-form-item" >
	         	<center>
	              <label for="L_repass" class="layui-form-label"></label>
	              <input class="layui-btn" id="btnSave2"  lay-submit lay-filter="updates" value="汇缴办理" />
	        	</center>
        	</div>
        </form>
    </div>
</div>
<script type="text/html" id="barDemo">
  <a class="layui-btn layui-btn-xs" lay-event="edit"><i class="layui-icon">&#xe642;</i>汇缴办理</a>
</script>
               
 
<script type="text/javascript" th:inline="none">
	layui.use(['table','form','element'], function(){
	  var table = layui.table,
	  form=layui.form,
	  element = layui.element;
	  
	  var date = new Date();
	    var seperator1 = "-";
	    var month = date.getMonth() + 1;
	    var strDate = date.getDate();
	    if (month >= 1 && month <= 9) {
	        month = "0" + month;
	    }
	    if (strDate >= 0 && strDate <= 9) {
	        strDate = "0" + strDate;
	    }
	    var currentdate = date.getFullYear() + seperator1 + month + seperator1 + strDate;
	    var currenttime = date.getFullYear() + seperator1 + month;
	  //数据获取
	  table.render({
	    elem: '#test'
	    ,url:'/remit/selectCompanyInfo'
	    ,title: '用户数据表'
	    ,cols: [[
	             {type:'numbers',title:'编号', fixed:'left'},
	             {field:'cno', title: '公司账号' },
	             {field:'cname', title: '公司名称' },
	             {field:'cdeposit', title: '单位缴存比例' },
	             {field:'cdeposits', title: '个人缴存比例' },
	             {field:'renshu', title: '单位缴存人数' },
	             {field:'cbalanc', title: '单位账户余额' },
	             {field:'sum', title: '应缴纳金额' },
	             {field:'sname', title: '单位账户状态' },
	             {field:'cdatetime', title: '缴至年月' },
	             {fixed: 'right', width: 165, align:'center', toolbar: '#barDemo'}
	          ]]
	    ,page: true
	  });
	  
	//监听行工具事件
	  table.on('tool(test)', function(obj){
	    var data = obj.data;
	    if(obj.event === 'edit'){
	    	    $("[name='cid']").val(data.cid);
	    	    $("[name='cno']").val(data.cno);
	    	    $("[name='cname']").val(data.cname);
	    	    $("[name='sname']").val(data.sname);
	    	    $("[name='sum']").val(data.sum);
	    	    $("[name='bases']").val(data.bases);
	    	    $("[name='sums']").val(data.sums);
	    	    $("[name='sumss']").val(data.sumss);
	    	    $("[name='renshu']").val(data.renshu);
	    	    $("[name='remits']").val("汇缴");
	    	    $("[name='time']").val(currentdate);
	    	    $("[name='date']").val(currenttime);
		    	//刷新表单数据 使其默认值有效
		    	layui.form.render('select','boardFilter');
		    	//打开模态框
		    	layer.open({
	                type:1,//类型
	                area:['1000px','500px'],//定义宽和高
	                title:'查看个人详细信息',//题目
	                shadeClose:false,//点击遮罩层关闭
	                content: $('#details')//打开的内容
	               
	            });	
		    	
	      }
	    
	  });
	
	  //监听修改提交
	  form.on('submit(updates)', function(data){
		    // * 整合表单数据
		     var formData = data.field;
		    //发异步，把数据提交
		    $.ajax({
        	url:"/remit/updateShowRemit",
        	data:formData,
        	type:"post",
        	async:false,
        	success:function(datas){
        		if (datas=="success") {
        			layer.close(layer.index);
                  table.reload("test");
                  layer.alert("汇缴成功", {icon: 6});	
        		}
        	},
	        	error:function(){
	        		layer.alert("汇缴失败", {icon: 6});
	        	}
        	}); 
		  //必不可少
		      return false;
      	});
			
    
	});
	
	
	//模糊查询刷新页面
	function searchUser(){
	  layui.use('table', function(){
		  var table = layui.table;
		  var cno = $("#cno").val();
		  var cname = $("#cname").val();
		  table.reload('test', {
			  url:'/company/selectCompany'
			 /*  ,method:"post" */
			  ,where: {
				  cno:cno,
				  cname:cname
			  } //设定异步数据接口的额外参数
			  ,page: {
	  			 	curr: 1 //重新从第 1 页开始
	 			  }
			});
	  });		
	}
	
	 /* //数据获取
	  table.render({
	    elem: '#test'
	    ,url:'/ratio/selectPersonPid'
	    ,title: '用户数据表'
	    ,cols: [[
	      {field:'pno', title: '公积金账号' }
	      ,{field:'pname', title: '姓名' }
	      ,{field:'psex', title: '性别' }
	      ,{field:'pbasenum', title: '缴存基数' }
	      ,{field:'cdeposits', title: '个人缴纳比率' }
	      ,{field:'cdeposit', title: '公司缴纳比率' }
	      ,{field:'pmoney', title: '公积金余额' }
	      ,{field:'premitdate', title: '最后缴纳时间' }
	      ,{field:'pstateid', title: '状态' }
	      ,{fixed: 'right', width: 165, align:'center', toolbar: '#barDemo'}
	    ]]
	    ,page: true
	  }); */
	
</script>
</body>
</html>
