<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>修改密码</title>	
    <head th:include="comm::header">
  </head>
  
  <body>
    <div class="x-body" style="margin:0 auto;padding-top:50px;width:600px">
        <form id="test" class="layui-form">
          <input type="hidden" name="upsd" id="upsd" th:value="${user.upassword}">
          <div class="layui-form-item">
              <label for="psd" class="layui-form-label">
              	<span class="x-red">*</span>输入原密码
              </label>
              <div class="layui-input-inline">
                  <input type="password" id="psd" name="psd" lay-verify="required|originalPsd"  
                  autocomplete="off" class="layui-input">
                  <span id="tips" style="color: red;"></span>
              </div>
          </div>
          <div class="layui-form-item">
           <label for="pass" class="layui-form-label">
           		<span class="x-red">*</span>输入新密码
           	</label>
             <div class="layui-input-inline">
                  <input type="password" id="L_pass" name="pass" lay-verify="pass"
                  autocomplete="off" class="layui-input">
             </div>
             <div class="layui-form-mid layui-word-aux">
                 	 输入6到12个字符
             </div>
          </div>
          <div class="layui-form-item">
              <label for="repass" class="layui-form-label">
                  <span class="x-red">*</span>重复密码
              </label>
              <div class="layui-input-inline">
                  <input type="password" id="L_repass" name="repass" lay-verify="repass" 
                  autocomplete="off" class="layui-input">
              </div>
          </div>
          
          <div class="layui-form-item">
              <label for="L_repass" class="layui-form-label"></label>
              <input class="layui-btn" id="btnSave" lay-filter="update" lay-submit="" type="submit" value="确认修改" />
          </div>
      </form>
    </div>
    <script>
        layui.use(['form','layer'], function(){
          var form = layui.form
          ,layer = layui.layer;

          //监听提交
          form.on('submit(update)', function(data){ 
		    // * 整合表单数据
		    var formData = data.field;
		    //发异步，把数据提交
		    $.ajax({
            	url:"/user/updateUserPsd",
            	data:formData,
            	type:"post",
            	async:false,
            	success:function(data){
            		if (data=="success") {
            			layer.msg("登录密码修改成功");
            			window.setTimeout(function(){
            				top.location.href="../user/removeFront";
	   				    },1500);
					} else {
						layer.msg("密码修改错误");
					}
            	},
            	error:function(){
            		layer.alert("添加错误", {icon: 6})
            	}
            });
            //必不可少
            return false;
          });  
          
        });
                
       

    </script>
  </body>
  </body>
</html>
