<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>人员转移</title>
 <head th:include="comm::header">
</head>
<body>
	<div class="x-body" style="padding-top:50px;padding-left:150px;">
	<form class="layui-form layui-col-md12  " lay-filter="formTest" action="addPersonal" method="post">
		<!--  	 转出转入信息  	  -->
	<div class="layui-form-item">
		<div  class="layui-input-block">
			<h1><span style="margin-left:-70px;">转出职工信息</span><span style="margin-left:340px;">转入职工信息</span></h1>
		</div>
	</div>
	
  <div class="layui-form-item">
	<div  class="layui-input-block">
	 <label class="layui-form-label">职工公积金账号</label>
     <div class="layui-input-inline" style="width:120px;">
		  <input name="pno" id="pno" required readonly lay-verify="required" autocomplete="off"  class="layui-input">
	 </div>
	 <div class="layui-input-inline">
	 	 	<input class="layui-btn layui-btn-sm layui-btn layui-btn-radius layui-btn-normal" readonly type="button" onclick="x_admin_show('选择职工','toFindPerson',800,500)" value="选择人员"/>
	 </div>
	  <label class="layui-form-label" style="margin-left:70px;">职工公积金账号</label>
     <div class="layui-input-inline">
		  <input name="pno" id="pno1" required lay-verify="required" readonly autocomplete="off"  class="layui-input">
	 </div>

	</div>
  </div>
   
   <div class="layui-form-item">
	<div  class="layui-input-block">
	 <label class="layui-form-label">职工姓名</label>
     <div class="layui-input-inline">
		  <input name="pname" id="pname" required lay-verify="required" readonly autocomplete="off"  class="layui-input">
	 </div>
	 <label class="layui-form-label" style="margin-left:200px;">职工姓名</label>
     <div class="layui-input-inline">
		  <input name="pname" id="pname1" required lay-verify="required" readonly autocomplete="off"  class="layui-input">
	 </div>
    </div>
   </div>
   
    <div class="layui-form-item">
	<div  class="layui-input-block">
	 <label class="layui-form-label">职工性别</label>
     <div class="layui-input-inline">
		  <input name="psex" id="psex" readonly required lay-verify="required" autocomplete="off"  class="layui-input">
	 </div>
	 <label class="layui-form-label" style="margin-left:200px;">职工性别</label>
     <div class="layui-input-inline">
		  <input name="psex" id="psex1" readonly required lay-verify="required" autocomplete="off"  class="layui-input">
	 </div>
    </div>
   </div>
   
    <div class="layui-form-item">
	<div  class="layui-input-block">
	 <label class="layui-form-label">证件类型</label>
     <div class="layui-input-inline">
		  <input name="pcertificate" readonly id="pcertificate" required lay-verify="required" autocomplete="off"  class="layui-input">
	 </div>
	  <label class="layui-form-label" style="margin-left:200px;">证件类型</label>
     <div class="layui-input-inline">
		  <input name="pcertificate" id="pcertificate1" readonly required lay-verify="required" autocomplete="off"  class="layui-input">
	 </div>
    </div>
   </div>
   
   <div class="layui-form-item">
	<div  class="layui-input-block">
	 <label class="layui-form-label">证件号码</label>
     <div class="layui-input-inline">
		  <input name="pnumber" id="pnumber" readonly required lay-verify="required" autocomplete="off"  class="layui-input">
	 </div>
	 <label class="layui-form-label" style="margin-left:200px;">证件号码</label>
     <div class="layui-input-inline">
		  <input name="pnumber" id="pnumber1" readonly required lay-verify="required" autocomplete="off"  class="layui-input">
	 </div>
    </div>
   </div>
   
   <div class="layui-form-item">
	<div  class="layui-input-block">
	 <label class="layui-form-label">转出单位公积金账号</label>
     <div class="layui-input-inline">
		  <input name="cno" id="cno1" readonly required lay-verify="required" autocomplete="off"  class="layui-input">
	 </div>
	 <label class="layui-form-label" style="margin-left:200px;">转入单位公积金账号</label>
     <div class="layui-input-inline" style="width:120px;">
		  <input name="cno" id="cno" readonly required lay-verify="required" autocomplete="off"  class="layui-input">
	 </div>
	 <div class="layui-input-inline">
	 	 	<input class="layui-btn layui-btn-sm layui-btn-radius layui-btn-normal" type="button" onclick="x_admin_show('选择公司','toFindCom',800,500)" value="选择单位"/>
	 </div>
    </div>
   </div>
   
   <div class="layui-form-item">
	<div  class="layui-input-block">
	 <label class="layui-form-label">转出单位名称</label>
     <div class="layui-input-inline">
		  <input name="cname" id="cname1" readonly required lay-verify="required" autocomplete="off"  class="layui-input">
	 </div>
	 <label class="layui-form-label" style="margin-left:200px;">转入单位名称</label>
     <div class="layui-input-inline">
		  <input name="cname" id="cname" readonly required lay-verify="required" autocomplete="off"  class="layui-input">
		  <input  type="hidden" name="acid" id="acid" />
	 </div>
    </div>
   </div>
   <!-- 	提交按钮	 -->
   	<div style="margin-top:40px;text-align:center;">
   		<input class="layui-btn layui-btn-radius" type="button" value="确定" onclick="updateAcid()"/></div>
  </form>
  
   </div>
   
   <script type="text/javascript">
   	function updateAcid(){
   		$.ajax({
				url:"/personal/updateAcid",
				data:[pno,acid],
				type:"get",
				success:function(datas){
				if (datas=="success") {
        		layer.msg("操作成功,等待审核");	
				}
			},
			error:function(){
				layer.msg("操作错误", {icon: 6});
			}
		 });
   		//window.location.href="/personal/updateAcid?pno="+$("#pno").val();
   	}


   </script>
</body>
</html>