<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.dao.ComboboxDao">
	<!-- 查询证件类型 -->
	<select id="selectCertificate" resultType="map">
		select * from certificate_type
	</select>
	
	<!-- 查询公司类型 -->
	<select id="selectCompanyType" resultType="map">
		select * from company_type
	</select>
	
	<!-- 查询所属行业 -->
	<select id="selectIndustry" resultType="map">
		select * from industry
	</select>
	
	<!-- 查询隶属关系 -->
	<select id="selectRelation" resultType="map">
		select * from relation
	</select>
	
	<!-- 查询经济类型 -->
	<select id="selectEconomicType" resultType="map">
		select * from economic_type
	</select>
	
	<!-- 查询银行 -->
	<select id="selectBank" resultType="map">
		select * from bank
	</select>
	<!-- 学历 -->
	<select id="selectDegree" resultType="map">
		select * from degree_type
	</select>
	<!-- 公积金提取原因 -->
	<select id="selectFund" resultType="map">
		select * from tfreason_type
	</select>
	<!-- 约定提取期数 -->
	<select id="selectAgreedTime" resultType="map">
		select * from agreedtime_type 
	</select>
</mapper>