<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.dao.LoginDao">

	<!-- 管理人员登录验证，员工状态和角色状态都为1("正常"、"已启用")  -->
	<select id="userLogin" resultType="user">
		select u.* from user u,role r 
		where u.uno=#{name} and u.upassword = #{password}
		and u.ustate = 1 and u.roleid=r.rid and r.rstate = 1
	</select>
	
	<!-- 个人公积金账号登录验证 -->
	<select id="personLogin" resultType="person">
		select * from person where pno =#{name} and ppassword = #{password} and pstateid not in (0,5,13) 
	</select>
	
	<!-- 单位公积金账号登录验证 -->
	<select id="companyLogin" resultType="company">
		select * from company where cno =#{name} and cpassword = #{password} and stateid = 2 
	</select>

</mapper>