<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.dao.RatioDao">
	<!-- 修改单位和个人的比例 -->
	<update id="updateRatio">
		update company set cdeposit=#{cdeposit},cdeposits=#{cdeposits} where cid=#{cid}
	</update>
	<!-- 修改个人缴存基数 -->
	<update id="updateBaseNum">
		update person set pbasenum=#{pbasenum} where pid=#{pid}
	</update>
	
	<!-- 修改个人缴存金额和公司缴存金额 -->
	<update id="updateBaseNumCounts">
		update person p,company c set p.counts=p.pbasenum*c.cdeposit/100,p.countss=p.pbasenum*c.cdeposits/100 where c.cid=p.acid
	</update>
	
	<!-- 查询公司内员工的信息 -->
	<select id="selectPersonPid" resultType="map">  
	select p.pid,p.pno,p.pname,p.pbasenum,c.cdeposit,c.cdeposits,((p.pbasenum*c.cdeposit)/100) counts,((p.pbasenum*c.cdeposits)/100) countss from person p join company c on p.acid=c.cid where c.cid=#{cid}
	<if test="pno!=null and pno!=''"> and p.pno=#{pno}</if>
	<if test="pname!=null and pname!=''"> and p.pname like concat("%",#{pname},"%")</if>
	limit #{page},#{limit}
	</select>
	<select id="getCount" resultType="Integer">
		select count(*) from person p join company c on p.acid=c.cid where c.cid=#{cid}
	</select>
	
	
</mapper> 